ul {
  list-style: none;
  list-style-type: none;
  padding-inline-start: 0px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr)); /* Максимум 4 зображення в ряд */
  grid-auto-rows: min-content;
  gap: 8px;
  /* align-items: center; */
  justify-content: center;
  grid-auto-flow: dense; /* Щільне розташування */
}

.gallery-item {
  list-style-type: none;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

@media only screen and (max-width: 1023px) {
  .gallery {
    grid-template-columns: repeat(3, minmax(150px, 1fr)); /* 3 в ряд на середніх екранах */
  }
}

@media only screen and (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(1, minmax(100px, 1fr)); /* 2 в ряд на мобільних */
  }
}
@media only screen and (max-width: 375px) {
  .gallery {
    grid-template-columns: repeat(1, minmax(50px, 0.8fr)); /* 1 в ряд на мобільних */
  }
}

/* пагинація */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #c74778;
  border-radius: 5px;
  color: #333;
  background-color: #fff;
  font-weight: 700;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.pagination a:hover {
  background-color: #c5809b;
  color: #fff;
}

.pagination .active a {
  background-color: #c74778;
  color: #fff;
  border-color: #c74778;
}

.pagination .disabled a {
  opacity: 0.5;
  pointer-events: none;
}
